// Map Styles
.map {
    position: relative;
    width: 80%;
    height: 500px;
    margin: 0 130px 0;
    border-style: solid;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-end;
}

// Legend Styles
.legend-container {
  /* your legend styles here */
  margin-top: 10px; /* adjust the top margin */
}

// Legend Styles
.legend {
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    padding: 10px;
    position: absolute;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

// Table Styles
.table, td, th {
    border: 1px solid black;
}

// Overlay Styles
.overlay-container{
    background-color: rgba(255, 255, 255, 0.7);
    width: 150px;
    color: #000000;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
    border-style: solid;
    border-width: 1px;
}

// Add Text Styles
.add_text2 {
    padding: 70px 0;
    text-align: left;
    border: 3px solid green;
    text-indent: 30px;
}

// Image Styles
.image {
    margin: 0 130px 0;
}

// Navbar Styles
.navbar-brand {
    display: inline-block;
    float: none;
    font-size: 18px;
    height: 100%;
    padding: 0;
    vertical-align: middle;
}

// Add Text Styles
.add_text {
    width: 400px;
    padding: 40px;
}
